{% capture collection_handle %}{{ product-loop | handleize }}{% endcapture %}
{% capture url %}{% if collection_handle != "" %}/collections/{{ product-loop }}{{ product.url }}{% else %}{{ product.url }}{% endif %}{% endcapture %}

<div class="product col-md-3 sort" 
    data-title="{{ product.title }}" 
    data-price="{{ product.price }}" 
  {% if product.price <= 10000 %}
    data-groups='["three"{% if product.price <= 5000 %}, "two"{% elsif product.price <= 2500 %}, "one"{% endif %}]'
  {% endif %}>
  <div class="image">
    <a href="{{ url }}">
      <img src="{{ product.featured_image | product_img_url: 'large' }}" alt="{{ product.title | escape  }}" />
    </a>
  </div>
  
  <div class="details">
    <a href="{{ url }}" class="clearfix">
      <h4 class="title">{{ product.title }}</h4>
      
      <h5>
      {{product.vendor}}
      <span class="price">
      {% if product.available %}
        {% if product.compare_at_price_max > product.price %}
          <del>{{ product.compare_at_price | money }}</del>
        {% endif %}
        {% if product.price_varies %}
        <small><em>from</em></small>
        {% endif %}
        {{ product.price | money }}
      {% else %}
        {{ product.price | money }} Sold Out
      {% endif %}
      </span>
      </h5>
      
    </a>
  </div>
</div>

{% cycle 'clear-product-loop': '', '', '<div style="clear:both;"></div>' %}