{% capture collection_handle %}{{ product-loop | handleize }}{% endcapture %}
{% capture url %}{% if collection_handle != "" %}/collections/{{ product-loop }}{{ product.url }}{% else %}{{ product.url }}{% endif %}{% endcapture %}

<div class="product col-md-4" class="sort" data-title="{{ product.title }}" {% if product.price < 10000 %}data-price="{% if product.price < 2500 %}25{% elsif product.price < 5000 %}50{% else %}100{% endif %}"{% endif %}>

  <div class="image">
    <a href="{{ url }}">
      <img src="{{ product.featured_image | product_img_url: 'large' }}" alt="{{ product.title | escape  }}" />
    </a>
  </div>
  
  <div class="details">
    <a href="{{ url }}" class="clearfix">
      <h4 class="title">{{ product.title }}</h4>
     {{product.vendor}}
      <span class="price">
      {% if product.available %}
        {% if product.compare_at_price_max > product.price %}
          <del>{{ product.compare_at_price | money }}</del>
        {% endif %}
        {% if product.price_varies %}
        <small><em>from</em></small>
        {% endif %}
        {{ product.price | money }}
      {% else %}
        {{ product.price | money }} Sold Out
      {% endif %}
      </span>
      
    </a>
  </div>
</div>

{% cycle 'clear-product-loop': '', '', '<div style="clear:both;"></div>' %}