<!-- announcement banner -->

  {% if settings.announcement_heading != "" %}
    <div class="announcement">
      <div class="banner" style="text-align:center; 
                    background-color:{% if settings.banner_color != "" %}{{settings.banner_color}}{% else %}#eb382e{% endif %}; 
                    color:{% if settings.banner_text_color != "" %}{{settings.banner_text_color}}{% else %}#ffffff{% endif %}; 
                    width:100%;">
        <h3>{{settings.announcement_heading}}</h3>
        <p>{{settings.announcement_subheading}}</p>
      </div>
    </div>
  {% endif %}

<div id="collection">
  
  {% paginate collection.products by settings.pagination_limit %}
  <!-- Begin collection info -->
  <div class="row">
    <div class="span12">

      <!-- Begin sort collection -->
      <div class="clearfix">
       <!-- <h1 class="section title">{{ collection.title }}</h1> -->
        {% if settings.collection_tags %}
          {% capture col_url%}{% if collection.url.size == 0 %}/collections/all{%else%}{{collection.url}}{%endif%}{%endcapture%}
          {% if collection.all_tags.size > 0 %}
          <div class="browse-tags">
          	<label>Browse:</label>
          	<select name="collection_tags" id="collection_tags" class="loc_on_change">
          		<option value="{{ col_url }}">All items</option>
          		{% for tag in collection.all_tags %}
          			<option value="{{col_url}}/{{ tag | handle }}"{% if current_tags contains tag %} selected="selected"{%endif%}>{{ tag }}</option>
          		{% endfor %}
          	</select>
          </div>
          {% endif %}
        {% endif %}
      </div>
      <!-- End sort collection -->
      
      <!-- Begin collection description -->
      {% if collection.description != "" %}
        {{ collection.description }}
      {% endif %}
      <!-- End collection description -->
      
    </div>
  </div>
        <hr>
  <!-- End collection info -->
  <!-- Sorting options -->
  <div>
          <select class="sort-options form-control input-sm">
            <option value="title-des">Title (A - Z)</option>
            <option value="title-asc">Title (Z - A)</option>
            <option value="price-des">Price (Lowest to Highest)</option>
            <option value="price-asc">Price (Highest to Lowest)</option>
          </select>
  </div>
  <section class="button-filters">
  <ul class="nav nav-pills filter-options">
    <li data-group="one"><a href="#">$25 and Under</a></li>
    <li data-group="two"><a href="#">$50 and Under</a></li>
    <li data-group="three"><a href="#">$100 and Under</a></li>
    </ul>
  </section>
  <!-- End sorting options -->
  
  <!-- Begin no products -->
  {% if collection.products.size == 0 %}
  <div class="row">
    <div class="span12 expanded-message">
      <p>No products found</p>
    </div>
  </div>
  {% endif %}
  <!-- End no products -->
  <style>
    .sort { height:33em; }
    .sort div {display:inline;}
  </style>
  <div class="row products" id="grid">
    {% for product in collection.products limit: settings.pagination_limit %}
      {% include 'product-loop' with collection.handle %}
    {% endfor %}
  </div>
  
  {% include 'pagination' %}

  {% endpaginate %}
  
</div>