
{% if settings.slide_1 or settings.slide_2 or settings.slide_3 %}
<!-- Flexslider begins here -->
	<!-- Flexslider main slider begins -->
	</div></div>
	<div id="slider" class="flexslider">
	  <ul class="slides">
	  	{% if settings.slide_1 %}
	    <li {% if settings.slide_1_color %}style="background-color:{{settings.slide_1_color}};"{% endif %}>
	     	<div class="container">
	     	<img {% if settings.slide_1_link %} onclick="window.location ='{{settings.slide_1_link}}'"{% endif %} src={{ "slideshow_1.jpg" | asset_url }} {% if settings.slide_1_text %} alt="{{ settings.slide_1_text }}" {% endif %}/>
	     
	      	</div>
	    </li>
	    {% endif %}
	    {% if settings.slide_2 %}
	    <li {% if settings.slide_2_color %}style="background-color:{{settings.slide_2_color}};"{% endif %}>
	      <div class="container">
	      <img {% if settings.slide_2_link %} onclick="window.location ='{{settings.slide_2_link}}'" {% endif %} src={{ "slideshow_2.jpg" | asset_url }} {% if settings.slide_1_text %} alt="{{ settings.slide_1_text }}" {% endif %}/>
	
	      </div>
	    </li>
	    {% endif %}
	    {% if settings.slide_3 %}
	    <li {% if settings.slide_3_color %}style="background-color:{{settings.slide_3_color}};"{% endif %}>
	      <div class="container">
	      <img {% if settings.slide_3_link %} onclick="window.location ='{{settings.slide_3_link}}'" {% endif %} src={{ "slideshow_3.jpg" | asset_url }} {% if settings.slide_3_text %} alt="{{ settings.slide_3_text }}" {% endif %}/>
	   
	      </div>
	    </li>
	    {% endif %}
	  </ul>
	</div>
	<div class="container"><div class="inner-wrapper">
	<!-- Flexslider navigation carousel begins -->

	{% if settings.slide_3 != false or settings.slide_2 != false %}
	<div id="carousel" class="flexslider">
	  <div class="slides row {% if settings.slide_3 == false and  settings.slide_2 == true %} twoUp {% endif %} ">
	  	{% if settings.slide_1 %}
	    <div  class="col-xs-4 ">
	    	<div class="item" {% if settings.slide_1_color %}style="background-color:{{settings.slide_1_color}};"{% endif %}>
	      		<img src={{ "slideshow_1.jpg" | asset_url }} {% if settings.slide_1_text %} alt="{{ settings.slide_1_text }}" {% endif %}/>
	      		<div class="item-caption"><p>{{ settings.slide_1_text }}</p></div>
	      	</div>
	    </div>
	    {% endif %}
	    {% if settings.slide_2 %}
	    <div class="col-xs-4">
	    	<div class="item"  {% if settings.slide_2_color %}style="background-color:{{settings.slide_2_color}};"{% endif %} >
	      		<img src={{ "slideshow_2.jpg" | asset_url }} {% if settings.slide_1_text %} alt="{{ settings.slide_2_text }}" {% endif %}/>
	      		<div class="item-caption"><p>{{ settings.slide_2_text }}</p></div>
	      	</div>
	    </div>
	    {% endif %}
	    {% if settings.slide_3 %}
	    <div  class="col-xs-4">
	    	<div class="item" {% if settings.slide_3_color %}style="background-color:{{settings.slide_3_color}};"{% endif %}>
	      		<img src={{ "slideshow_3.jpg" | asset_url }} {% if settings.slide_3_text %} alt="{{ settings.slide_3_text }}" {% endif %}/>
	      		<div class="item-caption"><p>{{ settings.slide_3_text }}</p></div>
	      	</div>
	    </div>
	    {% endif %}
	  </div>
	</div>
	{% endif %}
<!-- Flexslider ends here -->
{% endif %}



 {% include 'annoucement' %}

 <!-- Frontpage products begin here -->
	<div class="products">
	    {% for product in collections.frontpage.products %}
	      {% include 'product-loop'  %}
	    {% endfor %}
	</div>
<!-- Frontpage products end here -->

    


<!--
<script>
	$(function() {


		$('#carousel .item').mouseenter (function () {

			$(this).append('<h3 class="image-hover">'+$(this).attr("alt")+'</h3>');

		});

	});
</script>-->