
{% if settings.slide_1 or settings.slide_2 or settings.slide_3 %}
<!-- Flexslider begins here -->
	<!-- Flexslider main slider begins -->
	</div></div>
	<div id="slider" class="flexslider">
	  <ul class="slides">
	  	{% if settings.slide_1 %}
	    <li {% if settings.slide_1_color %}style="background-color:{{settings.slide_1_color}};"{% endif %}>
	     	<div class="container">
	     	<img {% if settings.slide_1_link %} onclick="window.location ='{{settings.slide_1_link}}'"{% endif %} src={{ "slideshow_1.jpg" | asset_url }} {% if settings.slide_1_text %} alt="{{ settings.slide_1_text }}" {% endif %}/>
	     
	      	</div>
	    </li>
	    {% endif %}
	    {% if settings.slide_2 %}
	    <li {% if settings.slide_2_color %}style="background-color:{{settings.slide_2_color}};"{% endif %}>
	      <div class="container">
	      <img {% if settings.slide_2_link %} onclick="window.location ='{{settings.slide_2_link}}'" {% endif %} src={{ "slideshow_2.jpg" | asset_url }} {% if settings.slide_1_text %} alt="{{ settings.slide_1_text }}" {% endif %}/>
	
	      </div>
	    </li>
	    {% endif %}
	    {% if settings.slide_3 %}
	    <li {% if settings.slide_3_color %}style="background-color:{{settings.slide_3_color}};"{% endif %}>
	      <div class="container">
	      <img {% if settings.slide_3_link %} onclick="window.location ='{{settings.slide_3_link}}'" {% endif %} src={{ "slideshow_3.jpg" | asset_url }} {% if settings.slide_3_text %} alt="{{ settings.slide_3_text }}" {% endif %}/>
	   
	      </div>
	    </li>
	    {% endif %}
	  </ul>
	</div>
	<div class="container"><div class="inner-wrapper">
	<!-- Flexslider navigation carousel begins -->
	<div id="carousel" class="flexslider">
	  <div class="slides row">
	  	{% if settings.slide_1 %}
	    <div {% if settings.slide_1_color %}style="background-color:{{settings.slide_1_color}};"{% endif %} class="col-md-4 ">
	    	<div class="item">
	      	<img src={{ "slideshow_1.jpg" | asset_url }} {% if settings.slide_1_text %} alt="{{ settings.slide_1_text }}" {% endif %}/>
	      	</div>
	    </div>
	    {% endif %}
	    {% if settings.slide_2 %}
	    <div {% if settings.slide_2_color %}style="background-color:{{settings.slide_2_color}};"{% endif %} class="col-md-4">
	    	<div class="item">
	      <img src={{ "slideshow_2.jpg" | asset_url }} {% if settings.slide_1_text %} alt="{{ settings.slide_1_text }}" {% endif %}/>
	      	</div>
	    </div>
	    {% endif %}
	    {% if settings.slide_3 %}
	    <div {% if settings.slide_3_color %}style="background-color:{{settings.slide_3_color}};"{% endif %} class="col-md-4">
	    	<div class="item">
	      <img src={{ "slideshow_3.jpg" | asset_url }} {% if settings.slide_3_text %} alt="{{ settings.slide_3_text }}" {% endif %}/>
	      	</div>
	    </div>
	    {% endif %}
	  </div>
	</div>
<!-- Flexslider ends here -->
{% endif %}



 {% if settings.announcement_heading != "" %}
 <!-- Announcement banner begins here -->
  	<div class="announcement">
  		<div class="banner" style="text-align:center; 
  									background-color:{% if settings.banner_color != "" %}{{settings.banner_color}}{% else %}#eb382e{% endif %}; 
  									color:{% if settings.banner_text_color != "" %}{{settings.banner_text_color}}{% else %}#ffffff{% endif %}; 
  									width:100%;">
  			<h3>{{settings.announcement_heading}}</h3>
  			<p>{{settings.announcement_subheading}}</p>
  		</div>
  	</div>
<!-- Announcement banner ends here -->
{% endif %}

 <!-- Frontpage products begin here -->
	<div class="products">
	    {% for product in collections.frontpage.products %}
	      {% include 'product-loop'  %}
	    {% endfor %}
	</div>
<!-- Frontpage products end here -->

    



